/* A4 width is 21cm.  */
body { font-family: "Roboto", "Helvetica", sans-serif; font-size: 11pt;  max-width: 19cm; margin-left: auto; margin-right: auto; padding-left: 6px; padding-right: 6px; }

table.navbar td { padding-left: 10px; padding-right: 10px; font-weight: normal; }
table.navbar { font-size: 12pt; width: 10%; margin-left: auto; margin-right: auto; white-space: nowrap; }
table, td, th { text-align: center; padding-left: 0px; padding-right: 0px; }
table { font-size: 12pt; margin-top: 0.5em; }
table.navbar a:visited, a:link { color: blue; }

ul { font-size: 11pt; font-weight: normal; margin-top: 0em; margin-bottom: 0em; padding-left: 17px; padding-right: 0px }
li { padding-left: 0px; padding-top: 2px }
hr { margin-top: 2px; margin-bottom: 4px; }

h2 { font-size: 15pt; margin-bottom: 0px; margin-top: 15px; }
h3 { font-size: 11pt; font-weight: normal; margin-top: 4px; margin-bottom: 4px; }
h4 { font-size: 11pt; font-weight: normal; margin-top: 0.0em; margin-bottom: 0.0em; }

p.mainsummary { text-align: center; margin-top: 0.5em; margin-bottom: 0.5em; font-size: 12pt; }
p.summary { padding-left: 0px; padding-top: 2px; padding-bottom: 2px; margin-top: 0px; margin-bottom: 0px }
